/* Generics */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

 
/* Utilities */
body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}

p{
    color: white;
    background-color: rgba(236, 236, 236, 0.5);
    padding: 3px;
}
/* Content */

header{
    display: flex;
    justify-content: flex-end;
    height: 5vh;
}

nav button{
    color: white;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 5px;
}

.web-cam{
    background-image: url(https://picsum.photos/id/3/200/300);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-basis: calc(85vw / 7);
    height: calc(70vh / 5);
    margin-bottom: 2vh;
}

